# ch2. 연습문제

---

## Q1
### 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.
<table style="width:20%">
<tr>
<th>과목</th>
<th>점수</th>
</tr>

<tr>
<td>국어</td>
<td>80</td>
</tr>

<tr>
<td>영어</td>
<td>75</td>
</tr>

<tr>
<td>수학</td>
<td>55</td>
</tr>
</table>

In [1]:
a=80
b=75
c=55
(a+b+c)/3

70.0

---
## Q2
### 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해 보자.

나머지 연산자를 사용하면 자연수의 홀수, 짝수를 쉽게 판별할 수 있다.

In [2]:
1%2

1

In [3]:
2%2

0

In [4]:
3%2

1

In [5]:
4%2

0

---
## Q3
### 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
<CODE>문자열 슬라이싱 기법을 사용해 보자</CODE>

In [6]:
pin="881120-1068234"
yyyymmdd=pin[:6]
num=pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

---
## Q4
### 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.
<CODE>문자열 인덱싱을 사용해 보자</CODE>

In [14]:
pin="881120-1068234"
print(pin[7])

1

1이면 남자, 2이면 여자를 나타낸다.

---
## Q5
### 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.
a = "a:b:c:d"

In [13]:
a="a:b:c:d"
b=a.replace(":", "#")
print(b)

a#b#c#d

---
## Q6
### [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.
<code>리스트의 내장 함수를 사용해 보자.</code>

In [15]:
a=[1, 3, 5, 4, 2]
a.sort( )
a.reverse( )
print(a)

[5, 4, 3, 2, 1]

---
## Q7
### ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.
<code>문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.</code>

In [12]:
a=['Life', 'is', 'too', 'short']
b=" ".join(a)
print(b)

Life is too short

---
## Q8
### (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
<code>더하기(+)를 사용해 보자.</code>

In [17]:
a=(1, 2, 3)
a=a+(4,)
a

(1, 2, 3, 4)

---
## Q9
### 다음과 같은 딕셔너리 a가 있다.

In [18]:
a=dict()
a

{}

### 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

3번째 예를 실행하면 다음과 같은 오류가 발생한다.

In [19]:
3.a[[1]] = 'python'

SyntaxError: invalid syntax (<ipython-input-19-45521e763a34>, line 1)

오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다.

---
## Q10
### 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
<code>딕셔너리의 pop 함수를 사용해 보자.</code>

In [27]:
a={'A':90, 'B':80, 'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

---
## Q11
### a 리스트에서 중복된 숫자들을 제거해 보자.
<code>집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.</code>

In [29]:
a=[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b=set(a)
c=list(b)
print(c)

[1, 2, 3, 4, 5]

---
## Q12
### 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [30]:
a=b=[1,2,3]
a[1]=4
print(b)

[1, 4, 3]

[1, 4, 3]이 출력된다. a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

----------------------------

# 3장 연습문제
---

## Q1
### 다음 코드의 결괏값은 무엇일까?
a = "Life is too short, you need python"

if "wife" in a: print("wife")<br>
elif "python" in a and "you" not in a: print("python")<br>
elif "shirt" not in a: print("shirt")<br>
elif "need" in a: print("need")<br>
else: print("none")

결괏값으로 shirt가 출력된다.
1. 첫 번째 조건에서, "wife"라는 단어가 a에 없으므로 거짓이다.
2. 두 번째 조건에서, "python"이라는 단어가 a에 있지만 "you"라는 단어도 a에 있으므로 거짓이다.
3. 세 번째 조건에서, "shirt"라는 단어가 a에 없으므로 참이다.
4. 네 번째 조건에서, "need"라는 단어가 a에 있으므로 참이다.
가장 먼저 참이 되는 것이 출력되고 이는 세 번째 조건이므로 "shirt"가 출력된다.
직접 확인해보자.

In [34]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else : print("none")

shirt

---
## Q2
### while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [36]:
number=0
i=1
while i<=1000:
    if i%3==0:
        number+=i
    i+=1
    
print(number)

166833

---

## Q3
### while문을 사용하여 줄이 바뀌면서 별(*)을 1개부터 5개까지 표시하는 프로그램을 작성해 보자.

In [39]:
i=0
while True:
    i+=1
    if i>5 : break
    print('*'*i)

*
**
***
****
*****

---
## Q4
### for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [44]:
for i in range(0,101):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

---
## Q5
### A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

### for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [45]:
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0
for i in a:
    total+=i
    
average=total/len(a)
print(average)

79.0

---
## Q6
### 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

In [50]:
numbers=[1, 2, 3, 4, 5]
result=[]
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

print(result)

[2, 6, 10]

### 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [49]:
numbers=[1, 2, 3, 4, 5]
result=[n*2 for n in numbers if n%2==1]
print(result)

[2, 6, 10]